/* COMEÇO DA ESTRUTA PRINCIPAL DO SITE---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body {
    font-family: 'Ubuntu Mono', monospace;
    background-image: url("/imgsOnLux/BannerSite.jpg");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
/* FINAL DA ESTRUTA PRINCIPAL DO SITE---------------*/



/* COMEÇO DO HEADER ---------------*/
header{
    box-shadow: 2px 2px  #ffffff;
    width: 100%;
    padding: 2vh;
    /*position: fixed;*/
    background-color: rgba(0, 0, 0, 0.842);
}
/*A IMAGEM PRECISA SER AQUI PRA TODOS AS PÁGINAS DO SITE PODEREM PUXAR DAQUI*/
.titulo-img {
    background-image: url("/imgsOnLux/LogoSite.png");
    padding: 5px 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
}

h1 a{
    opacity: 0;
    font-size: 40px; 
   }

.titulo-img img{
    width: 150px;
}


.container {
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao a {
    color: rgb(255, 240, 106);
    text-decoration: none;
}

.navegacao ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.navegacao ul li {
    cursor: pointer;
    font-size: 17px;
}
/* FINAL DO HEADER---------------*/

/* COMEÇO DO BUTÃO -------------*/
/* FIM DO BUTÃO -------------*/
.btn_simular{
    display: flex;
    background-color: rgb(253, 239, 107);
    color: black;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 40px ;
}

.btn_simular:hover{
    background-color: rgb(252, 233, 67);
    -webkit-box-shadow: 0px 0px 90px -10px rgba(255,242,0,1);
    
}
/* COMEÇO DO MAIN--------------- */ 
main {
    height: auto;
    width: auto;
        
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    color: white;    
    /* background-color: rgba(255, 208, 0, 0.288); */
    height: 100vh;
}

.text-bem-vindo{
    /* background-color: aqua; */
    padding: 100px;
    width: 60%;
    font-size: 45px;
}
.main-text{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 100px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.main-text p{
    text-align: center;
}

/*NA PÁGINA QUE ESTIVER FICARÁ EM NEGRITO E QUE ESTIVER COM SOMBRA AMARELA*/
.agora{
    text-shadow: 3px 3px 22px #ffDE59;
    font-weight: 900;
  }
/* COMEÇO DO MAIN--------------- */ 



/* FOOTER AQUI */
footer {
    display: flex;
    padding: 5vh;
    width: 100%;
    background-color: rgb(255, 208, 0);
    justify-content: flex-end;
    align-items: flex-end;
}

footer .containerFooter {
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: black;
}

