.banner_da{
    background-image: url("/Site_Institucional/imgsOnLux/BannerSite.jpg");
    margin: 5vh 0;
    padding: 5vh  5vw 10vw 5vw;
    background-size: cover;
}
h1 a{
    color: rgba(255, 255, 255, 0);
    font-size: 40px;
    text-align: center; 
   }
   /* TITULO */
.frase h1{
    padding: 5vh 10vw;
    color: white;
}
/* campos infoemação das cores */
.metricas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    color: white;
}
.metricas .vermelho{
    background-color: rgba(255, 0, 0, 0.671);
    padding: 30px 50px ;
    margin: 15px 20px 15px 0px;
    border-radius: 10px;
}
.metricas .laranja{
    background-color: rgba(255, 153, 0, 0.671);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 10px;
}
.metricas .amarelo{
    background-color: rgba(255, 208, 0, 0.747);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 10px;
}
.metricas .verde{
    background-color: rgba(0, 255, 0, 0.671);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 10px;
}
.metricas .cinza{
    background-color: rgba(66, 66, 66, 0.671);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 10px;
}

/* CAMPO DAS INFORMAÇOES DO GRAFICO */
.informacao{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;
    font-size: 35px;
}
.bloco{
    padding: 50px 0px;
    margin: 10px 0;
    width: 100%;
}
.bloco p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 25px;
    color: white;
}
/* GRAFICO */
.grafico{
    display: flex;
    flex-direction: column; 
    justify-items: flex-end;
    width: 100%;
    overflow-x: hidden;
}
.campo{
    background-color: rgb(51, 51, 51);
    border-radius: 50px ;
    margin: 0px 0px 70px 0px;
    padding: 150px ;
}

