
.textoCodigo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: -50px;
    font-family: 'Ubuntu Mono', monospace;
}
.calculadora .textoCodigo {
    color: white;
    align-items: center;
}
.input_calc{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-between;
    width:auto;
    color: white;
    margin-bottom: 45px;
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
}

.input_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.caixa_input {
    border-radius: 40px;
    padding: 5px;
    width: 20vw;
    /* box-shadow: 3px 3px 22px #ffDE59; */
    border-color: #ffDE59;
    color: white;
    background-image: url("/imgsOnLux/BannerSite.jpg");
    margin-top: 5px;
}

.btn_calc{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15PX;
    width: 20vw;
    border-radius: 40px;
    padding: 5px;
    background-color: rgb(255, 240, 106) ; 
    box-shadow: 3px 3px 22px #ffDE59;
}
.box-shadow{
    border-radius:10px;
    color: #ffDE59;
    display: block;
    align-items: center;
    background-color: rgb(51, 51, 51);
}

.result_calc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 50px ;
    
}

.banner_calc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-size: cover;
    color: white;    
    /* background-color: rgba(255, 208, 0, 0.288); */
}

.text-bem-vindo-calc{
    /* background-color: aqua; */
    padding: 100px;
    width: 100%;
    font-size: 45px;
}
