
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
    padding: 15px 0;
    background-color: #0c092e;
    border-bottom: 3px solid #ffde59;
    width: 100%;
  }
  
  .container {
    width: 80%;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
  }
  
  .titulo {
    color: #ffde59;
    font-size: 14px;
  }
  
  .navegacao {
    width: 350px;
    color: #ffde59;
  }
  
  .navegacao ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .navegacao a {
    color: #ffde59;
    text-decoration: none;
  }
  
  .navegacao ul li {
    font-size: 1rem;
    cursor: pointer;
  }*/
  
 

/*footer {
    background-color: #ffde59;
    padding: 45px 0;
    }
    
    footer .container {
      justify-content: center;
    }
    
    footer p {
      color: black;
    }*/

/*.banner {
    background-image: url("https://raw.githubusercontent.com/On-Lux/Site_Institucional/main/imgsOnLux/BannerSite.jpg");
    padding: 100px 0;
    background-size: cover;
    height: 95vh;
    }
    
    .banner .container{
        justify-content: center;
        align-items: center;
        height: 100%;
    }*/


/* >>>>>>>>>>>>>>O CÓDIGO ACIMA É O ANTIGO<<<<<<<<<<<<<<<
   >>>>>>>>>>>>>>O DEBAIXO É APENAS O RESTANTE<<<<<<<<<<<*/

   h1 a{
    color: rgba(255, 255, 255, 0);
    font-size: 40px;
    text-align: center; 
   }
     .agora {
    font-weight: bold;
  }
  /* o fundo de onde está a inserção de dados */
    .caixa-formulario {
        background-color: #0c092e;
        padding: 30px;
        width: 30%;
        margin: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* corzinha das letrinhas */
    .caixa-formulario h2 {
        color: #ffde59;
    }
    /* estilização das letras, tamanho e local, etc... */
    .campo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: auto;
    }
    /* cor dos textos escrito "Senha" e "Email" */
    .campo label {
        color: #ffde59;
        font-size: 20px;
        padding: 10px 0;
        
    }
    /* Tamanho das caixas de input, onde a gente coloca a senha e email */
    .campo input {
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #0b0a0a;
        
    }
    /* botão */
    .caixa-formulario button {
        margin-top: 30px;
        width: 120px;
        color: #0b0a0a;
        background-color: #ffde59;
        padding: 10px 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    /* opacidade do botão */
    .caixa-formulario button:hover {
        opacity: 0.8;
    }
    /* correção do banner para páginas de cadastro e login em específico*/
    .banner {
      padding: 200px 0px;
    }



