
.textoCodigo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: -50px;
}
.calculadora .textoCodigo {
    color: aliceblue;
    align-items: center;
}
.imput{
    display:flex;
    flex-direction: column;
    justify-content: left;
    width:30vw;
    padding-left: 10vw;
    color: white
    ;
}.text-bem-vindo{
    width:70vw;
    padding-left: 10vw;
}

