* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TITULO DO HEADER ONLUX*/

header {
    padding: 25px 0;
}

body {
    font-family: "Roboto", sans-serif;
  }

.titulo-img {
    background-image: url("/Site_Institucional/imgsOnLux/LogoSite.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
}

h1 {
    color: rgba(255, 255, 255, 0);
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    width: 80%;
    color: black;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navegacao a {
    color: rgba(255, 240, 106, 0.856);
    text-decoration: none;
}

.navegacao ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.navegacao ul li {
    cursor: pointer;
    font-size: 17px;
}

/* MAIN/ BANNER/ CENTRO DA PÁGINA INDEX */ 

.banner {
    background-image: url("/Site_Institucional/imgsOnLux/BannerSite.jpg");
    margin: -100px 0;
    padding: 80vw 0;
    background-size: cover;
}
/* PAREI AQUI TOP TOP TOP*/
.textoOnlux{
    
}

/* FOOTER AQUI */
footer {
    padding: 5vw 0;
    background-color: rgb(255, 208, 0);
}

footer .container {
   justify-content: center;
}

footer p {
    color: black;
}