.banner_da{
    background-image: url("/Site_Institucional/imgsOnLux/BannerSite.jpg");
    padding: 5vh  5vw 2vw 5vw;
    background-size: cover;
}
h1 a{
    color: rgba(255, 255, 255, 0);
    font-size: 40px;
    text-align: center; 
   }
   /* TITULO */
.frase h1{
    padding: 5vh 10vw;
    color: white;
}
/* campos infoemação das cores */
.metricas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.metricas .vermelho{
    background-color: rgba(255, 0, 0, 0.671);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 40px;
}
.metricas .amarelo{
    background-color: rgba(255, 208, 0, 0.747);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 40px;
}
.metricas .verde{
    background-color: rgba(0, 255, 0, 0.671);
    padding: 30px 50px ;
    margin: 15px 20px;
    border-radius: 40px;
}

/* CAMPO DAS INFORMAÇOES DO GRAFICO */
.informacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;
    font-size: 35px;
}
.bloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;
    margin: 10px 50px;
    width: 45%;

}
.bloco p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 25px;
    color: white;
}
/* GRAFICO */
.campo{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(51, 51, 51);
    border-radius: 50px;
    padding: 50px;
}

