.banner_da{
    background-image: url("/imgsOnLux/BannerSite.jpg");
    width: 100%;
    /* margin: 5vh; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

   /* TITULO */
.escrita{
    /* background-color: blue; */
    width: 100%;
    height: 10vh;
    margin: 5%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.escrita p{
    /* background-color: aqua; */
    width: 86%;
   
    color: rgb(220, 239, 255);
    font-size: 22px;
}
.escrita .vermelho{
    color: red;
}
.escrita .amarelo{
    color: rgb(255, 255, 0);
}
.escrita .verde{
    color: rgb(64, 255, 0);
}
/* campos infoemação das cores */
.metricas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(220, 239, 255);
    white-space: 100%;
    height: 8%;
}
.metricas .vermelho{
    background-color: rgba(255, 0, 0, 0.671);
    padding: 4vh 6vh;
    margin: 10px;
    border-radius: 40px;
}
.metricas .amarelo{
    background-color: rgba(255, 208, 0, 0.747);
    padding: 4vh 6vh;
    margin: 10px;
    border-radius: 40px;
}
.metricas .verde{
    background-color: rgba(0, 255, 0, 0.671);
    padding: 4vh 6vh;
    margin: 10px;
    border-radius: 40px;
}

/* CAMPO DAS INFORMAÇOES DO GRAFICO */
.informacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    width: 100%;
    margin: 10px;
    overflow-x: hidden;
    overflow: hidden;
    font-size: 25px;
}
.escritaLuminacao{
    /* background-color: rgb(43, 43, 43); */
    width: 100%;
    
}
.escritaLuminacao p{
    /* background-color: rgb(0, 0, 0); */
    width: 95%;

}
.escritaLuminacao b{
    color: rgba(255, 208, 0, 0.747);
}

.bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
   margin: 20px;

}
.bloco p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 25px;
    color: rgb(220, 239, 255);
    margin: 2%;
}
.bloco select{
    width: 200px;
    font-size: 20px;
    background-color: #333333;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}
option{
    border-color: #ccc;
    box-shadow:  #ccc;
    border: 1px solid #ccc;
    outline:none;   
}
/* GRAFICO */
.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(51, 51, 51);
    border-radius: 50px;
    width: 100%;
    margin: 3vh 3vh 0vh 3vh;
}
.campo1{
    width: 92%;
}
.grafico{
    margin: 10px;
    width: 80%;
    
}
.graph{
    background-color: rgba(40, 40, 47, 0.655);
    width: 100%;
    margin: 7px 0px 0px 50px;
    border-radius: 10px;
}

