main{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*MAIN/CENTRO INDEX*/
.banner .textoOnlux {
    align-items: center;
    color: white;
}

header{
    position: fixed;
}



